apiVersion: 1

datasources:
  # Automatically configure Prometheus as the default data source
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST

  # Automatically configure Loki for logs
  - name: Loki
    type: loki
    access: proxy
    url: http://localhost:3100
    editable: true
